.header {
	width: 100%;

	@include indentation(margin-top);
	@include indentation(margin-bottom);

	@include device('small-mobile') {
    height: calc(100vh - 2 * #{$pad--s-mob});
  }
  @include device('mobile') {
    height: calc(100vh - 2 * #{$pad--mob});
  }
  @include device('tablet') {
		height: calc(100vh - 2 * #{$pad--tab});
  }
  @include device('laptop') {
    height: calc(100vh - 2 * #{$pad--lap});
  }
  @include device('desktop') {
		height: calc(100vh - 2 * #{$pad--des});
  }
  @include device('large-desktop') {
		height: calc(100vh - 2 * #{$pad--l-des});
  }
  @include device('full-hd') {
		height: calc(100vh - 2 * #{$pad--f-hd});
  }

	.content {
		position: relative;
		height: 100%;
		width: 83.33%;
		margin: 0 8.33%;

		.left {
			width: 40%;
		}

		.right {
			width: 60%;
		}

		.left {
			position: absolute;
			@include align(l,c);

			@media only screen and (max-width: 768px) {
				width: 100%;
			}

			h2 {
				font-size: .83rem;
				font-weight: 800;
				text-transform: uppercase;
				color: $light-black;

				span {
					color: $red;
				}
			}

			p.info {
				font-size: .33rem;
				font-weight: 300;
				margin: 4em 0;
			}
		}

		.right {
			position: absolute;
			@include align(r,c);

			@media only screen and (max-width: 768px) {
				display: none;
			}

			.wrapper {
				width: 83.33%;
				position: absolute;
				@include align(r,c);
				height: 50px;

				img.photo,
				img.letter {
					position: absolute;
					width: 65%;
					top: 50%;
				}

				img.photo {
					left: 0;
					transform: translateY(-50%);
					box-shadow: 13px -8px 76px -14px rgba(0,0,0,0.65);
					transition: transform 3s 1.25s $easeOutQuint;
				}

				img.letter {
					right: 0;
					transform: translateY(-50%);
					transition: transform 3s 1.25s $easeOutQuint;
				}
			}
		}

		.btn {
			@media only screen and (max-width: 768px) {
				width: 100%;
			}
		}

		.arrow-next {
			height: 1rem;
			width: 50px;
			position: absolute;
			@include align(c,b);
			transition: bottom .25s;

			&:hover {
				bottom: -15px;
			}

			img {
				height: 100%;
				position: absolute;
				@include align(c,b);
			}
		}
	}
}