.about {
	position: relative;
	height: 80vh;
	padding-bottom: 50px;

	@media only screen and (max-width: 768px) {
		padding: 2rem 0;
		height: auto;
	}

	@media only screen and (min-width: 769px) and (max-width: 1200px) {
		height: 50vh;
	}

	.content {
		height: 100%;

		.left,
		.right {
			position: relative;
		}

		.left {
			width: 50%;
			height: 100%;

			@media only screen and (max-width: 768px) {
				display: none;
			}
		}

		.left {
			p {
				position: absolute;
				@include align(r,c);
				opacity: .08;
				font-size: 11rem;
				font-weight: 900;
				line-height: 0.72em;

				@media only screen and (min-width: 769px) and (max-width: 1200px) {
					font-size: 7rem;
				}
			}

			img {
				position: absolute;
				@include align(l,c);
				height: 85%;

				@media only screen and (min-width: 769px) and (max-width: 1200px) {
					height: auto;
					width: 75%;
				}
			}
		}

		.right {
			width: 100%;

			@media only screen and (min-width: 451px) and (max-width: 768px) {
				width: 83.33%;
				margin: 0 auto;
			}

			@media only screen and (min-width: 769px) {
				position: absolute;
				width: 41.66%;
				right: 8.33%;
				top: 50%;
				transform: translateY(-50%);
				text-align: right;
			}

			h2 {
				font-size: .83rem;
				font-weight: 600;
				text-transform: uppercase;
			}

			p {
				font-size: .33rem;
				font-weight: 300;
				padding: 3em 0;

				a {
					display: inline-block;
					color: $red;
					font-weight: 500;
					text-transform: uppercase;
					padding: .75rem .1rem;
				}

				@media only screen and (max-width: 768px) {
					font-size: .5rem;
				}
			}

			.scroll {
				position: relative;
				display: inline-block;
				cursor: pointer;

				@media only screen and (max-width: 1200px) {
					display: none;
				}

				&:hover {
					.line {
						margin-top: 15px;
						margin-bottom: -15px;
					}
				}

				p {
					color: $red;
					font-size: .19rem;
					font-weight: 900;
					letter-spacing: .2em;
					padding: 3em 0;
					text-transform: uppercase;
				}

				.line {
					margin: 0 auto;
					height: 150px;
					width: 1px;
					background-color: $red;
					transition: margin .25s;
				}
			}
		}
	}
}