.ukraine {
	@media only screen and (max-width: 1200px) {
		overflow: auto;
		padding: 2rem 0;
		background-image: url('../img/ukraine/bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	img {
		width: 100%;

		@media only screen and (max-width: 1200px) {
			display: none;
		}
	}

	.content {
		@include indentation(padding-left);
		@include indentation(padding-right);

		@media only screen and (min-width: 1201px) {
			position: absolute;
			width: 83.33%;
			@include align(c,c);
		}

		h2 {
			display: block;
			text-align: center;
			width: 50%;
			margin: auto;
			color: $white;
			font-size: .83rem;
			line-height: .83rem;
			font-weight: 800;
			text-transform: uppercase;
			background-color: $red;
			padding: .25rem;
			margin-bottom: 1rem;

			@media only screen and (max-width: 1200px) {
				box-sizing: border-box;
				width: 100%;
			}
		}

		.info-wrapper {
			font-family: 'Roboto', sans-serif;

			.info {
				box-sizing: border-box;
				height: 100%;
				color: $white;
				border: 1px solid $white;

				@media only screen and (max-width: 768px) {
					width: 66.66%;
					margin: 1rem auto;
				}

				@media only screen and (min-width: 769px) and (max-width: 1200px) {
					float: left;
					width: 30%;
					//margin: 1rem auto;

					&.center {
						margin: 0 5%;
					}
				}

				@media only screen and (min-width: 1201px) {
					width: 20%;
					float: left;

					&.center {
						margin: 0 20%;
					}
				}

				.align-center {
					box-sizing: border-box;
					width: 100%;
					padding: 20% 5%;

					p {
						font-weight: 900;
						text-align: center;
					}

					p.number {
						font-size: 1.66rem;
						margin-bottom: .25em;
					}

					p.text {
						height: 1.14rem;
						font-size: .38rem;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}