.why {
	padding: 2rem 0;
	overflow: auto;

	@media only screen and (max-width: 450px) {
		padding: 2rem 0 8rem;
	}

	@media only screen and (min-width: 451px) and (max-width: 768px) {
		padding: 2rem 0 12rem;
	}

	@media only screen and (min-width: 769px) and (max-width: 1200px) {
		padding: 2rem 0 14rem;
	}

	.content {
		position: relative;
		width: 83.33%;
		margin: auto;
		overflow: auto;

		@media only screen and (max-width: 1200px) {
			width: 100%;
		}

		.left,
		.right {
			width: 50%;
			float: left;

			@media only screen and (max-width: 1200px) {
				width: 100%;
			}
		}

		.left {
			h2 {
				font-size: .83rem;
				font-weight: 600;
				text-transform: uppercase;

				@media only screen and (max-width: 1200px) {
					text-align: center;
					margin-bottom: 1rem;
				}
			}
		}

		.right {
			box-sizing: border-box;
			padding-left: 8.33%;

			@media only screen and (max-width: 1200px) {
				padding: 0;
			}

			.icon-block {
				box-sizing: border-box;
				padding: 0 25px;
				float: left;
				width: 50%;
				text-align: center;

				&.center {
					padding: 50px 0;
				}

				span {
					color: $red;
					display: block;
					font-size: 1.2rem;
					padding-bottom: .4em;
				}

				p {
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					font-size: .30rem;
					line-height: 1.3em;
					text-transform: uppercase;
				}
			}
		}
	}
}