.black {
	background-color: $dark-black;
	@include indentation(padding-left);
	@include indentation(padding-right);

	.content {
		position: relative;
		width: 91.66%;
		margin-left: 8.33%;
		padding: 100px 0;
		color: $white;

		@media only screen and (max-width: 1200px) {
			width: 83.33%;
			margin: auto;
			padding: 1rem 0;
		}

		.left {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			transform: translateY(-70%);
			z-index: 200;
			width: 45.44%;
			height: 90%;

			@media only screen and (max-width: 1200px) {
				width: 100%;
				height: 100%;
				transform: translateY(-50%);
			}

			p {
				color: $red;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 11.5rem;
				line-height: .72em;
				font-weight: 900;

				@media only screen and (max-width: 1200px) {
					display: none;
				}

				@media only screen and (min-width: 1201px) {
					top: -80px;
				}
			}

			img {
				position: absolute;
				left: 0;
				bottom: 0;
				height: calc(100% - 100px);

				@media only screen and (max-width: 1200px) {
					height: auto;
					width: 100%;
				}
			}
		}

		.right {
			width: 54.55%;
			float: right;

			@media only screen and (max-width: 1200px) {
				display: none;
			}

			p {
				font-size: 83.33%;
			}
		}

		p.mobile {
			@media only screen and (max-width: 1200px) {
				font-size: .66rem;
				margin-top: 75%;
			}
			@media only screen and (min-width: 1201px) {
				display: none;
			}
		}

		img.black-img {
			margin-top: 100px;
			width: 100%;
			height: auto;

			@media only screen and (max-width: 1200px) {
				margin-top: 25px;
			}
		}
	}
}