.car {
	position: relative;
	width: 100%;
	padding: 2rem 0;
	min-height: 100px;
	overflow: auto;

	.left {

		@media only screen and (max-width: 450px) {
			width: 100%;
			margin: auto;
		}

		@media only screen and (min-width: 451px) and (max-width: 1200px) {
			width: 83.33%;
			margin: auto;
		}

		@media only screen and (min-width: 1201px) {
			width: 41.66%;
			float: left;
		}

		.paragraph {
			&.center {
				margin: .5rem 0;
			}

			h3 {
				font-size: .5rem;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 0.3rem;

				@media only screen and (max-width: 768px) {
					font-size: .66rem;
				}
			}

			p {
				font-size: .33rem;
				line-height: 1.15em;
				letter-spacing: .025em;
				font-weight: 300;

				@media only screen and (max-width: 768px) {
					font-size: .42rem;
				}
			}
		}

		.btn {
			margin-top: .8rem;

			@media only screen and (max-width: 450px) {
				width: 100%;
			}
		}
	}

	.right {
		position: absolute;
		right: 0;
		top: 0;
		width: 50%;
		margin: 2rem 0;
		height: calc(100% - 2rem * 2);
		float: right;

		@media only screen and (max-width: 1200px) {
			display: none;
		}

		img {
			position: absolute;
			width: 31.66%;
			height: auto;
			margin: 0;
			padding: 0;

			&.img-left {
				@include align(l,c);
			}

			&.img-center {
				//margin-top: -.6rem;
				@include align(c,c);
			}

			&.img-right {
				//margin-top: .6rem;
				@include align(r,c);
			}
		}
	}
}