.work {
	padding: 2rem 0;

	.content {
		position: relative;
		width: 91.66%;
		height: 100%;


		@media only screen and (max-width: 450px) {
			width: 100%;
		}

		@media only screen and (min-width: 451px) and (max-width: 1200px ) {
			width: 83.33%;
			margin: 0 auto;
			text-align: center;
		}

		@media only screen and (min-width: 1201px) {
			font-size: .42rem;
			overflow: auto;
		}

		img.photo {
			float: left;
			width: 45.44%;

			@media only screen and (max-width: 1200px) {
				width: 100%;
				margin-bottom: 1rem;
			}
		}

		.right {
			width: 100%;

			@media only screen and (min-width: 1201px) {
				position: absolute;
				@include align(r,c);
				transform: translateY(-55%);
				width: 45.44%;
				float: right;
				text-align: right;
			}

			h2 {
				font-size: .83rem;
				font-weight: 800;
				text-transform: uppercase;
			}

			p.info {
				font-size: .33rem;
				font-weight: 300;
				line-height: 1.35em;
				margin: 1.4rem 0;

				@media only screen and (max-width: 1200px) {
					font-size: .42rem;
				}
			}

			.btn {
				@media only screen and (max-width: 1200px) {
					width: 83.33%;
					margin: 0 8.33%;
				}
			}
		}
	}
}