.instruction {
	padding: 2rem 0;

	.content {
		overflow: auto;
		width: 83.33%;
		margin: 0 8.33%;
		text-align: center;

		h2 {
			font-size: .66rem;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}

		.block-wrapper {
			overflow: auto;
			width: 100%;

			[class^="block-"] {
				position: relative;
				float: left;
				width: 25%;

				@media only screen and (max-width: 1200px) {
					width: 50%;

					&:after,
					&:before {
						display: none;
					}
				}

				&.block-1,
				&.block-3, {
					&:after {
						content: '';
						position: absolute;
						@include align(r,c);
						height: 1.5rem;
						width: 1px;
						background-color: $red;
					}
				}

				&.block-3 {
					&:before {
						content: '';
						position: absolute;
						@include align(l,c);
						height: 1.5rem;
						width: 1px;
						background-color: $red;
					}
				}

				p.number {
					color: $red;
					font-family: 'Roboto', sans-serif;
					font-size: 1.6rem;
					font-weight: 900;
					text-transform: uppercase;
				}

				p.text {
					font-size: .33rem;
					line-height: 1.35em;
					font-weight: 500;
					text-transform: uppercase;
					margin-top: .4rem;
				}
			}
		}
	}
}