.questions {
	background-color: $dark-black;
	color: $white;
	@include indentation(padding-left);
	@include indentation(padding-right);

	.content {
		position: relative;
		width: 91.66%;
		margin-left: 8.33%;
		padding: 2rem 0;

		@media only screen and (max-width: 450px) {
			width: 100%;
			margin: 0;
		}

		@media only screen and (min-width: 451px) and (max-width: 1200px) {
			width: 83.33%;
			margin: 0 auto;
		}

		.left {
			width: 45.44%;

			@media only screen and (max-width: 1200px) {
				width: 100%;
			}

			.wrapper {
				&:first-child {
					margin: 2rem 0;
				}

				h2 {
					font-size: .83rem;
					font-weight: 600;
					text-transform: uppercase;
					margin-bottom: .8rem;
				}

				p {
					font-size: .33rem;
					font-weight: 200;
					margin: .3rem 0;

					&.upper {
						font-weight: 300;
						text-transform: uppercase;
					}
				}
			}
		}

		.right {
			box-sizing: border-box;
			position: absolute;
			width: 50%;
			height: 100%;
			padding: 2rem 0;
			@include align(r,c);

			@media only screen and (max-width: 1200px) {
				display: none;
			}

			.wrapper {
				position: relative;
				width: 100%;
				height: 100%;

				.letter {
					position: absolute;
					font-size: 11rem;
					line-height: .72em;
					font-weight: 900;
				}

				.E {
					color: $red;
					left: 0;
					top: 20%;
					z-index: 5;
				}

				.X {
					right: 0;
					bottom: 20%;
				}
			}
		}
	}
}