.news {
	position: relative;
	padding: 2rem 0;

	.content {
		width: 83.33%;
		margin: auto;

		h2 {
			font-size: .66rem;
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 1rem;
		}

		#prev-news,
		#next-news {
			position: absolute;
			transition: color .25s;

			a {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				z-index: 50;
			}

			&:hover {
				color: $red;
			}
		}

		#prev-news {
			@include align(l,c);

			@media only screen and (max-width: 768px) {
				left: -15px;
			}
		}

		#next-news {
			@include align(r,c);

			@media only screen and (max-width: 768px) {
				right: -15px;
			}
		}

		.news-slider {
			article a {
				color: $light-black;
				cursor: pointer;
				text-align: center;

				img {
					width: 100%;
					margin-bottom: 20px;
				}

				p.date {
					color: $red;
					font-family: 'Roboto', sans-serif;
					font-size: .25rem;
					font-weight: 900;
				}

				h4.title {
					font-size: .42rem;
					font-weight: 800;
					text-transform: uppercase;
					margin: 20px 0;
				}

				p.description {
					font-size: .33rem;
					font-weight: 300;
				}
			}
		}
	}
}