.cooperation {
	position: relative;
	overflow: auto;
	padding: 3rem 0;

	.left {
		position: absolute;
		@include align(l,c);
		float: left;
		width: 50%;
		height: 5px;

		@media only screen and (max-width: 992px) {
			display: none;
		}

		img.car {
			z-index: 5;
			position: absolute;
			@include align(l,c);
			width: 100%;
		}

		img.box {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 33.33%;
		}
	}

	.right {
		float: right;
		width: 41.66%;
		margin-right: 8.33%;
		text-align: right;

		@media only screen and (max-width: 992px) {
			width: 100%;
			margin-right: 0;
		}

		h2.title {
			width: 140%;
			margin-left: -40%;
			font-size: .83rem;
			font-weight: 800;

			@media only screen and (max-width: 992px) {
				width: 100%;
				margin-left: 0;
			}
		}

		p.description,
		p.phone {
			width: 80%;
			margin: 1rem 0;
			margin-left: 20%;
			font-size: .33rem;
			font-weight: 300;

			@media only screen and (max-width: 992px) {
				width: 100%;
				margin-left: 0;
			}

			.number {
				font-weight: 700;
			}
		}

		p.phone {
			font-weight: 500;
		}
	}
}