.comments {
	padding: 2em 0;

	.content {
		width: 83.33%;
		margin: auto;
		cursor: pointer;

		@media only screen and (max-width: 768px) {
			width: 100%;
		}

		.bx-controls {
			padding-top: .5rem;
			width: 10%;
			margin: auto;

			@media only screen and (max-width: 1200px) {
				width: 25%;
			}

			.bx-pager {
				position: relative;
				font-family: 'Roboto', sans-serif;
				font-size: .33rem;
				text-align: center;
				transform: translateY(-50%);
			}

			.bx-controls-direction {
				position: relative;
				z-index: 50;

				.bx-prev,
				.bx-next {
					color: $light-black;
					position: absolute;

					font-family: 'icomoon' !important;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;

					font-size: .5rem;
					line-height: 1;

					transition: color .25s;

					&:hover {
						color: $red;
					}
				}

				.bx-prev {
					@include align(l,c);

					&:before {
						content: "\e314";
					}
				}

				.bx-next {
					@include align(r,c);

					&:before {
						content: "\e315";
					}
				}
			}
		}

		.comments-slider {
			.comment {
				img {
					width: 20%;
					height: auto;

					@media only screen and (max-width: 768px) {
						width: 66.66%;
						margin: 0 16.66%;
					}
				}

				.right {
					padding: 10px 0;
					float: right;
					width: 70%;

					@media only screen and (max-width: 768px) {
						width: 66.66%;
						margin: 0 16.66%;
						text-align: center;
					}

					h4.name {
						font-size: .42rem;
						font-weight: 800;
						text-transform: uppercase;
						margin-bottom: 10px;
					}

					p.info {
						font-size: .33rem;
						font-weight: 300;
						margin-bottom: 30px;
					}

					p.text {
						font-size: .33rem;
						font-weight: 700;
					}
				}
			}
		}
	}
}