.application {
	img.parallax-img {
		@media only screen and (max-width: 1200px) {
			display: none;
		}
	}

	.content {
		box-sizing: border-box;
		background-color: $white;
		z-index: 50;
		text-align: center;

		@media only screen and (max-width: 768px) {
			width: 100%;
			margin: 0 auto;
		}

		@media only screen and (min-width: 1201px) {
			position: absolute;
			@include align(r,c);
			@include indentation(right);
			width: 40%;
		}

		.wrapper {
			padding: 1rem;

			h2 {
				font-size: .83rem;
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: 1em;
			}

			p {
				font-size: .42rem;
				font-weight: 400;
				text-transform: uppercase;
				padding: 0 10%;
			}

			.application-link {
				margin-top: .6rem;

				p {
					font-size: .33rem;
					font-weight: 600;
					padding: 0;
				}

				img {
					margin: auto;
					margin-top: .6rem;
					width: 40%;

					@media only screen and (max-width: 450px) {
						width: 33.33%;
					}

					@media only screen and (min-width: 451px) and (max-width: 1200px) {
						width: 25%;
					}
				}
			}
		}
	}
}