.partners {
	padding: 2rem 0;

	.content {
		position: relative;
		overflow: auto;
		width: 83.33%;
		margin: auto;

		h2 {
			font-size: .66rem;
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 1rem;
		}

		img {
			float: left;
			width: 16%;
			margin: 0 4.5%;

			@media only screen and (max-width: 450px) {
				width: 41%;
			}
		}
	}
}