.contact {
	@include indentation(padding-left);
	@include indentation(padding-right);
	position: relative;
	background-image: url('../img/contact/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;

	@media only screen and (max-width: 1200px) {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	.info {
		float: left;
		box-sizing: border-box;
		background-color: $white;
		color: $light-black;
		width: 41.66%;
		margin: 2em 0;
		padding: 1.5em;

		@media only screen and (max-width: 450px) {
			margin: 1em 0;
			width: 100%;
		}

		h2 {
			font-size: .83rem;
			font-weight: 800;
			text-transform: uppercase;
			margin-bottom: .6rem;
		}

		.phone,
		.mail,
		.place {
			overflow: auto;
			width: 100%;
			padding: .25rem 0;

			span {
				float: left;
				font-size: .5rem;
			}

			.text {
				float: left;
				margin-left: .5rem;

				p {
					font-family: 'Roboto', sans-serif;
					font-size: .33rem;
					font-weight: 300;
					line-height: .42rem;
				}
			}
		}

		.phone {
			a {
				color: $light-black;
			}

			span {
				line-height: .42rem * 2;
			}
		}

		.mail {
			span {
				line-height: .42rem;
			}
		}

		.place {
			span {
				line-height: .42rem * 2;
			}
		}
	}

	.right {
		background-color: $red;
		height: 100%;

		@media only screen and (max-width: 1200px) {
			padding: 1rem 0;
			float: left;
			width: 100%;
		}

		@media only screen and (min-width: 1201px) {
			position: absolute;
			right: 0;
			@include indentation(padding-right);
			width: 40%;
		}

		.contact-form {
			margin: 0 1.5em;
			position: relative;
			height: 100%;

			form {
				@media only screen and (max-width: 1200px) {
					float: left;
					width: 100%;
				}

				@media only screen and (min-width: 1201px) {
					position: absolute;
					width: 80%;
					@include align(c,c);

					h2 {
						display: none;
					}
				}

				h2 {
					width: 100%;
					text-align: center;
					letter-spacing: .25em;
					text-transform: uppercase;
					margin-bottom: 20px;
				}

				p {
					font-size: .25rem;
					font-weight: 500;
					letter-spacing: .1em;
					padding: 0;
					margin: 0 0 10px 0;

					@media only screen and (max-width: 1200px) {
						text-align: center;
					}
				}

				input[type="text"],
				input[type="tel"],
				textarea {
					float: left;
					box-sizing: border-box;
					color: $white;
					width: 100%;
					border: none;
					font-family: 'Raleway';
					font-size: .25rem;
					font-weight: 200;
					border-bottom: 1px solid $white;
					background-color: rgba(0,0,0,0);
					margin: 0 0 40px 0;
					padding: 0 10px;
					transition: all .25s;

					@media only screen and (max-width: 1200px) {
						margin-bottom: 20px;
					}

					&:focus {
						outline: none;
						border-bottom-color: $white;
					}

					&:invalid {
						border-bottom-color: $red;
					}

					&::placeholder {
						color: $white;
						font-weight: 700;
					}
				}

				input[type="text"],
				input[type="tel"] {
					overflow: hidden;
					height: 50px;
				}

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
						/* display: none; <- Crashes Chrome on hover */
						-webkit-appearance: none;
						margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
				}

				textarea {
					overflow: hidden;
					resize: none;
				}

				input[type="submit"] {
					float: right;
					cursor: pointer;
					height: 4.2vh;
					width: 100%;
					color: $white;
					font-size: .19rem;
					font-weight: 800;
					text-transform: uppercase;
					background-color: rgba(0, 0, 0, 0);
					border: 1px solid $white;
					transition: background-color .25s;

					@media only screen and (max-width: 1200px) {
						width: 100%;
					}

					&:hover {
						background-color: $white;
						color: $light-black;
					}

					&:focus {
						outline: none;
						border-bottom-color: $white;
					}
				}
			}
		}
	}

	.info,
	.right {
		@media only screen and (min-width: 451px) and (max-width: 1200px) {
			margin: 1em 12.5%;
			width: 75%;
		}
	}
}