@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale3d(.8, .8, .8);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

.zoomIn {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: zoomIn;
}

@keyframes arrowNext {
	0% {
		bottom: 0;
	}

	50% {
		bottom: 15px;
	}

	100% {
		bottom: 0;
	}
}

.opacity {
	opacity: 0;
}

.header.header-animation {
	.content {
		.right {
			.wrapper {
				img.letter {
					transform: translateY(-60%);
				}

				img.photo {
					transform: translateY(-40%);
				}
			}
		}

		a.arrow-next {
			animation-name: arrowNext;
			animation-duration: 2s;
			animation-iteration-count: infinite;
		}
	}
}
