.form-become-driver {
	position: fixed;
	box-sizing: border-box;
	z-index: 600;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transform: translateX(100%);
	@include indentation(padding);
	background-color: $dark-black;

	transition: transform 1s $easeOutQuint;

	@media only screen and (min-width: 768px) and (max-width: 1199px) {
		width: 66.66%;
	}

	@media only screen and (min-width: 1200px) {
		width: 33.33%;
	}

	&.open {
		transform: translateX(0);
	}

	.content {
		position: relative;
		width: 100%;
		height: 100%;

		.btn-close {
			position: absolute;
			cursor: pointer;
			top: 0;
			right: 0;
			height: 40px;
			width: 40px;

			.line {
				height: 2px;
				width: 100%;
				background-color: $white;

				&.top {
					margin-top: 18px;
					transform: translateY(50%) rotate(-45deg);
				}

				&.bottom {
					margin-bottom: 18px;
					transform: translateY(-50%) rotate(45deg);
				}
			}
		}

		form {
			position: absolute;
			width: 100%;
			@include align(c,c);

			@media only screen and (min-width: 1200px) {
				h2 {
					display: none;
				}
			}

			h2 {
				width: 100%;
				text-align: center;
				letter-spacing: .25em;
				text-transform: uppercase;
				margin-bottom: 20px;
			}

			p {
				color: $white;
				font-size: .33rem;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: .1em;
				padding: 0;
				margin-bottom: .75rem;
				text-align: center;

				@media only screen and (max-width: 1200px) {
					text-align: center;
				}
			}

			input[type="text"],
			input[type="tel"],
			input[type="email"],
			textarea,
			select {
				float: left;
				box-sizing: border-box;
				color: $white;
				width: 100%;
				border: none;
				font-family: 'Raleway';
				font-size: .25rem;
				font-weight: 200;
				border-bottom: 1px solid $white;
				background-color: rgba(0,0,0,0);
				margin: 0 0 .42rem 0;
				padding: 0 10px;
				transition: all .25s;

				@media only screen and (max-width: 1200px) {
					margin-bottom: 20px;
				}

				&:focus {
					outline: none;
					border-bottom-color: $white;
				}

				&:invalid {
					border-bottom-color: $red;
				}

				&::placeholder {
					color: $white;
					font-weight: 700;
				}
			}

			input[type="text"],
			input[type="tel"],
			input[type="email"],
			select {
				overflow: hidden;
				height: 50px;

				@media only screen and (max-width: 768px) {
					height: .75rem;
				}
			}

			select {
				appearance: none;
				position: relative;
				width: 100%;

				option {
					line-height: 50px;
					width: 100%;
					margin: 10px 0;
					background-color: $dark-black;
				}
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
					/* display: none; <- Crashes Chrome on hover */
					-webkit-appearance: none;
					margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
			}

			textarea {
				overflow: hidden;
				resize: none;
			}

			input[type="submit"] {
				float: left;
				cursor: pointer;
				height: .83rem;
				width: 100%;
				color: $white;
				font-size: .19rem;
				font-weight: 800;
				text-transform: uppercase;
				background-color: rgba(0, 0, 0, 0);
				border: 1px solid $white;
				transition: background-color .25s;

				@media only screen and (max-width: 1200px) {
					width: 100%;
				}

				&:hover {
					background-color: $white;
					color: $light-black;
				}

				&:focus {
					outline: none;
					border-bottom-color: $white;
				}
			}
		}
	}
}