div.btn,
a.btn.car-list {
	color: $light-black;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid $light-black;
	transition: background-color .25s;

	p.btn-text {
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.35em;
		font-size: .19rem;
		font-weight: 900;
		padding: 2em 4em;
		margin: 0;
		transition: color .25s;
	}

	&:hover {
		background-color: $light-black;

		p {
			color: $white;
		}
	}
}