// Common

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $white;
  color: $light-black;
}

html {
  @include responsive(font-size, 32px, 36px, 48px, 60px, 48px, 60px, 72px);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3,
h4, h5, h6,
p, ul, li {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: .83rem;
}

h3 {
  font-size: .66rem;
}

h4 {
  font-size: .42rem;
}

h5 {
  font-size: .33rem;
}

h6 {
  font-size: .25rem;
}

.number {
  font-family: 'Roboto', sans-serif;

  a {
    color: $white;
  }
}

.letter, img {
  user-select: none;
}