.container {
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: $white;

	@include indentation(padding-left);
	@include indentation(padding-right);

	@include device('small-mobile') {
    width: calc(100% - 2 * #{$pad--s-mob});
  }
  @include device('mobile') {
    width: calc(100% - 2 * #{$pad--mob});
  }
  @include device('tablet') {
		width: calc(100% - 2 * #{$pad--tab});
  }
  @include device('laptop') {
    width: calc(100% - 2 * #{$pad--lap});
  }
  @include device('desktop') {
		width: calc(100% - 2 * #{$pad--des});
  }
  @include device('large-desktop') {
		width: calc(100% - 2 * #{$pad--l-des});
  }
  @include device('full-hd') {
		width: calc(100% - 2 * #{$pad--f-hd});
  }
}