// Fonts

// Roboto Black

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

// Raleway

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Thin.woff) format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-ExtraLight.woff) format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-ExtraBold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url(../assets/fonts/Raleway-Black.woff) format('woff');
  font-weight: 900;
  font-style: normal;
}

// Icons

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/icons/icomoon.eot?bcsqkf');
  src:  url('../assets/icons/icomoon.eot?bcsqkf#iefix') format('embedded-opentype'),
    url('../assets/icons/icomoon.ttf?bcsqkf') format('truetype'),
    url('../assets/icons/icomoon.woff?bcsqkf') format('woff'),
    url('../assets/icons/icomoon.svg?bcsqkf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vk:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e903";
}
.icon-account:before {
  content: "\e851";
}
.icon-build:before {
  content: "\e869";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-redeem:before {
  content: "\e8b1";
}
.icon-arrow-left:before {
  content: "\e314";
}
.icon-arrow-right:before {
  content: "\e315";
}
.icon-place:before {
  content: "\e8b4";
}
.icon-car:before {
  content: "\e900";
}
.icon-money:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}