.footer {
	position: relative;
	//height: 60px;
	background-color: $white;
	color: $light-black;
	overflow: auto;
	padding: 20px 0;
	@include indentation(padding-left);
	@include indentation(padding-right);

	.rights {
		float: left;
		font-family: 'Roboto', sans-serif;
		font-size: .25rem;
		font-weight: 700;
	}

	span {
		color: $black;
		float: right;
		font-size: .3rem;
		line-height: 1em;
		margin: 0 .5em;
	}
}