nav.nav {
	position: fixed;
	z-index: 500;
	width: 100%;
	min-height: 25px;
	top: 0;
	left: 0;
	right: 0;
	@include indentation(padding-top);
	@include indentation(padding-bottom);

	transition: padding .25s, box-shadow .25s;

	&.scroll {
		background-color: $white;
		box-shadow: 2px -21px 50px 1px rgba(0,0,0,0.5);

		@media only screen and (min-width: 1000px) {
			padding: 30px 0;
		}

		@media only screen and (max-width: 1000px) {
			padding: 25px 0;
    }
	}

	h1 {
		display: none;
	}

	.logo {
		position: absolute;
		@include align(l,c);
		@include indentation(margin-left);
		height: 20px;
	}

	@media only screen and (max-width: 991px) {
		.hamburger {
			position: absolute;
			cursor: pointer;
			@include align(r,c);
			@include indentation(margin-right);

			.line {
				height: 2px;
				width: 40px;
				background-color: $black;
				transition: all .25s;

				&.center {
					margin: 7px 0;
				}
			}

			&.open {
				.line {
					&.top {
						transform: translateY(8.5px) rotate(45deg);
					}

					&.center {
						width: 0;
						margin-left: 50%;
					}

					&.bottom {
						transform: translateY(-8.5px) rotate(-45deg);
					}
				}
			}
		}
	}

	@media only screen and (min-width: 992px) {
		.btn {
			display: none;
		}

		ul .btn {
			display: block;
		}
	}

	@media only screen and (max-width: 991px) {
		.btn {
			position: absolute;
			@include align(c,c);

			p {
				position: relative;
				padding: 0;
				color: $white;
				text-transform: uppercase;
				font-size: .19rem;
				font-weight: 800;
				letter-spacing: .2em;

				&:before {
					content: "";
					position: absolute;
					@include align(c,c);
					height: calc(100% + 15px);
					width: calc(100% + 25px);
					background-color: $light-black;
					z-index: -1;
					transition: background-color .25s;
				}
			}
		}
	}

	.menu {
		position: absolute;

		@media only screen and (max-width: 991px) {
			width: 100%;
			height: 0;
			top: 0;
			left: 0;
			right: 0;
			background-color: $white;
			z-index: -100;
			transition: height 1s $easeOutQuint;

			&.open {
				height: 100vh;

				ul {
					display: block;
					opacity: 1;
				}
			}

			ul {
				position: absolute;
				@include align(c,c);
				display: none;
				opacity: 0;
				transition: all 1s;

				li {
					text-align: center;
					font-size: .83rem;
					letter-spacing: .02em;
					padding: .25em 0;
					color: $light-black;
					pointer-events: auto;
					transition: color .25s;
				}
			}

			.btn {
				display: none;
			}
		}

		@media only screen and (min-width: 992px) {
			@include align(r,c);
			transform: translate(-12px, -50%);
			@include indentation(margin-right);

			ul {
				float: right;
				pointer-events: none;

				a {
					float: left;
					cursor: pointer;

					&:hover li {
						color: $red;
					}

					li {
						font-size: .25rem;
						letter-spacing: .02em;
						padding: 0 1em;
						color: $light-black;
						pointer-events: auto;
						transition: color .25s;
					}

					&.contact-link {
						li {
							padding-right: 2.5em;
						}
					}

					&.btn {
						&:hover {
							li:before {
								background-color: $red;
							}
						}

						li {
							position: relative;
							padding: 0;
							color: $white;
							text-transform: uppercase;
							font-size: .19rem;
							font-weight: 800;
							letter-spacing: .2em;

							&:before {
								content: "";
								position: absolute;
								@include align(c,c);
								height: calc(100% + 15px);
								width: calc(100% + 25px);
								background-color: $light-black;
								z-index: -1;
								transition: background-color .25s;
							}
						}
					}
				}
			}
		}
	}
}