// Variable

// Color

$white: #fff;
$black: #212121;
$dark-black: #141414;
$light-black: #333;
$red: #f03434;

// Global padding for border

$pad--s-mob: 10px;
$pad--mob: 25px;
$pad--tab: 30px;
$pad--lap: 30px;
$pad--des: 40px;
$pad--l-des: 45px;
$pad--f-hd: 80px;

// easing

$easeOutQuint: cubic-bezier(.15, 1, 0.3, 1);
